* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

.sign-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.screen {
  background: white;
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px;
}

.screencontent {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screenbackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screenbackgroundshape {
  transform: rotate(45deg);
  position: absolute;
}

.screenbackgroundshape1 {
  height: 520px;
  width: 520px;
  background: #eee;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screenbackgroundshape2 {
  height: 220px;
  width: 220px;
  background: black;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screenbackgroundshape3 {
  height: 540px;
  width: 190px;
  background: black;
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 175px;
  padding-left: 7px;
}

.loginfield {
  padding: 20px 0px;
  position: relative;
}

.logininput {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 7px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.logininput:active,
.logininput:focus,
.logininput:hover {
  outline: none;
  border-bottom-color: black;
}

.loginsubmit {
  background: #fff;
  font-size: 14px;
  margin-top: 50px;
  padding: 16px 20px;
  border-radius: 14px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  box-shadow: 0px 2px 2px black;
  cursor: pointer;
  transition: 0.2s;
}

.loginsubmit:active,
.loginsubmit:focus,
.loginsubmit:hover {
  border-color: black;
  outline: none;
}
