*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.products{
    border: 1px solid #F4F6F3;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #F4F6F3;
    padding: 1.2rem;
}
.search-input{
    background-color: #f4f6f3;
    padding: 1.3rem;
    text-align: center;
}

.search-input input{
    width: 30%;
    padding: 10px;
    border: none;
}

.search-input .fa-magnifying-glass{
    position: relative;
    right: 30px;
}

.search-input .fa-cart-shopping{
    position: relative;
    left: 24rem;
}

.item{
    display: flex;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.product-img{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 20%;
}

.product-img img{
    width: 40%;
    height: 85%;
}

.price{
    width: 17%;
}

.quantity{
    width: 10%;
    border: 1px solid gainsboro;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    margin-right: 6rem;
}
.total{
    margin-top: 4rem;
}
.total div{
    display: flex;
    justify-content: space-between;
    width: 30%;
    border: 1px solid gainsboro;
    height: 40px;
    align-items: center;
    margin-left: 47rem;
    margin-bottom: 1rem;
    padding: 5px;
}

.total .number{
    border-left: 1px solid gainsboro;
    padding-left: 8rem;
}

.total button{
    margin-left: 61.5rem;
    background-color: #252628;
    color: white;
    padding: 10px;
    border: none;
}